<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/cadastros.css">
    <title>Cadastro de Viagem</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-xl">
        <!-- Seu código Navbar aqui -->
    </nav>

    <main>
        <h3 class="text-center">Cadastro de Viagem</h3>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="POST" th:object="${viagem}">
                        <div class="mb-3">
                            <label for="idDestino" class="form-label">Destino</label>
                            <select name="idDestino" class="form-select" id="idDestino">
                                <option th:each="destino : ${destinos}" th:value="${destino.id}" th:text="${destino.cidade + ' - ' + destino.pais}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="idPassageiro" class="form-label">Passageiro</label>
                            <select name="idPassageiro" class="form-select" id="idPassageiro">
                                <option th:each="passageiro : ${passageiros}" th:value="${passageiro.id}" th:text="${passageiro.nome}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="dataHoraIda" class="form-label">Data e Hora de Ida</label>
                            <input name="dataHoraIda" type="datetime-local" class="form-control" id="dataHoraIda">
                        </div>
                        <div class="mb-3">
                            <label for="dataHoraVolta" class="form-label">Data e Hora de Volta</label>
                            <input name="dataHoraVolta" type="datetime-local" class="form-control" id="dataHoraVolta">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">Cadastrar</button>
                            <button class="btn btn-secondary" type="reset">Limpar Formulário</button>
                        </div>
                    </form>
                </div>
                <!-- Coluna para imagem (se necessário) -->
            </div>
        </div>
    </main>

    <!-- Rodapé -->
    <footer class="rodape">
        <!-- Seu código de rodapé aqui -->
    </footer>

    <!-- VLibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget();
    </script>

    <!-- Seus scripts -->
    <script src="./script/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>
